*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   font-family: var(--font-family), sans-serif;
}

html {
   text-size-adjust: none;
}

body {
   min-height: 100dvh;
   line-height: 1.5;
   background-color: var(--bodyColor);
   -webkit-font-smoothing: antialiased;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}

img,
picture,
video,
canvas {
   display: block;
   max-width: 100%;
}

svg {
   display: block;
   overflow: visible;
}

input,
button,
textarea,
select {
   font: inherit;
}

ul[role='list'],
ol[role='list'] {
   list-style: none;
}

a:not([class]) {
   text-decoration-skip-ink: auto;
   color: currentColor;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

:target {
   scroll-margin-block: 5ex;
}

input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
   display: none;
   height: 0px;
   width: 0px;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
   display: none;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
   display: none;
   appearance: none;
}

input[type='file']::-webkit-file-upload-button {
   cursor: pointer;
}

a:focus,
a:focus-visible,
input:focus,
input:focus-visible,
button:focus,
button:focus-visible,
textarea:focus,
textarea:focus-visible,
select:focus,
select:focus-visible {
   outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type='number'] {
   -moz-appearance: textfield;
}