:root {
  /* Genereal */
  --header-height: 140px;
  --gap: 30px;
  --container-width: 1720px;

  /* Typography */
  --font-family: "Poppins";
  --h1: clamp(32px, 3.75vw, 72px);
  --h2: clamp(28px, 2.5vw, 48px);
  --h3: clamp(24px, 1.875vw, 36px);
  --h4: clamp(22px, 1.563vw, 30px);
  --h5: clamp(18px, 1.25vw, 24px);
  --h6: clamp(16px, 1.042vw, 20px);
  --p: clamp(14px, 0.938vw, 18px);
  --li: clamp(14px, 0.938vw, 18px);
}

@media screen and (max-width: 1280px) {
  :root {
    --header-height: 100px;
  }
}
